<div class="extra">
  <div class="container mt-5 mb-5">
    <div class="text-center mt-5 mb-1">
      <h2>Detalhes do cliente</h2>
    </div>
    <form class="form mt-4" [formGroup]="mostraClienteForm">
        <div class="form-group">
            <small class="font-weight-bold">Id</small>
            <input formControlName="id" id="id" type="text" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Nome</small>
            <input formControlName="nome" id="nome" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Sobrenome</small>
            <input formControlName="sobrenome" id="sobrenome" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">CPF</small>
            <input formControlName="cpf" id="cpf" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Data de Nascimento</small>
            <input id="data" formControlName="dataNascimento" type="date" class="form-control" name="dataNascimento">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Idade</small>
            <input formControlName="idade" id="idade" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Profissão</small>
            <input formControlName="profissao" id="profissao" class="form-control">
        </div>

        <a routerLink="/ConsultarCliente" class="btn btn-primary btn-block">Voltar</a>
    </form>
  </div>
</div>
