.extra div {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  background: rgba(226, 222, 222, 0.739);
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bt {
  max-width: 200px;
}
