<div class="extra">
  <div class="container mt-5 mb-5">
    <div class="text-center mt-5 mb-1">
      <h2>Atualizar dados do cliente</h2>
    </div>
    <form class="form mt-4">
        <div class="form-group">
            <small class="font-weight-bold">Id</small>
            <input id="id" type="text" class="form-control" autofocus>
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Nome</small>
            <input id="nome" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Sobrenome</small>
            <input id="sobrenome" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">CPF</small>
            <input id="cpf" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Data de Nascimento</small>
            <input id="data" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Idade</small>
            <input id="idade" class="form-control">
        </div>

        <div class="form-group">
            <small class="font-weight-bold">Profissão</small>
            <input id="profissao" class="form-control">
        </div>

        <div class="d-flex flex-row justify-content-center">
          <a routerLink="/ConsultarCliente" class="btn btn-success btn-block bt my-2 my-sm-0 mr-3">Alterar</a>
          <a routerLink="/ConsultarCliente" class="btn btn-primary btn-block bt my-2 my-sm-0 ml-3">Voltar</a>
        </div>
    </form>
  </div>
</div>
