<app-header></app-header>

<div class="text-center mt-5 mb-5">
  <h2>Cadastre um novo cliente</h2>
</div>

<div class="container mt-5 mb-5">
  <form [formGroup]="cadastrarForm" class="form mt-4" (submit)="cadastrarCliente()">
      <div class="form-group">
          <small class="font-weight-bold">Nome</small>
          <input formControlName="nome" placeholder="nome" class="form-control" autofocus >
          <app-validation-message *ngIf="cadastrarForm.get('nome').errors?.required" text="O campo nome é obrigatório."></app-validation-message>
      </div>

      <div class="form-group">
          <small class="font-weight-bold">Sobrenome</small>
          <input formControlName="sobrenome" placeholder="sobrenome" class="form-control">
          <app-validation-message *ngIf="cadastrarForm.get('sobrenome').errors?.required" text="O campo sobrenome é obrigatório."></app-validation-message>
      </div>

      <div class="form-group">
          <small class="font-weight-bold">CPF</small>
          <input formControlName="cpf" placeholder="000.000.000-00" class="form-control">
          <app-validation-message *ngIf="cadastrarForm.get('cpf').errors?.required" text="O campo cpf é obrigatório."></app-validation-message>
      </div>

      <div class="form-group">
          <small class="font-weight-bold">Data de Nascimento</small>
          <input type="date" class="form-control">
      </div>

      <div class="form-group">
          <small class="font-weight-bold">Profissão</small>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Escolher...</option>
            <option value="1">Programador</option>
            <option value="2">Analista</option>
            <option value="3">Gerente</option>
            <option value="4">Estagiário</option>
            <option value="5">QA</option>
          </select>
      </div>

      <button [disabled]="cadastrarForm.invalid" class="btn btn-primary btn-block">Cadastrar</button>
  </form>
</div>
