

<div class="text-center mt-5 mb-5">
  <h2>Clientes cadastrados</h2>
</div>

<div class="container mt-5 mb-5 text-center">
  <table class="table table-sm table-dark table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Idade</th>
        <th>Profissão</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.Id }}</td>
        <td>{{ cliente.Nome }}</td>
        <td>{{ cliente.Sobrenome }}</td>
        <td>{{ cliente.Cpf }}</td>
        <td>{{ cliente.DataNascimento }}</td>
        <td>{{ cliente.Idade }}</td>
        <td>{{ cliente.Profissao }}</td>
        <td><button type="button" class="btn btn-warning"><i aria-hidden="true" class="fa fa-edit"></i></button></td>
        <td><button type="button" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i></button></td>
        <td><button type="button" class="btn btn-info"><i aria-hidden="true" class="fa fa-info-circle"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>

